* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(../img/banner2.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
    /* background-color: red; */
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding-top: 5%;
}

.meBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
    height: 35rem;
    background-color: white;
    margin-top: 100px;
    border-radius: 2%;
    transition: all 0.3s;
    text-align: center;
}



.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(https://www.iculture.cc/icon/logo.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: 0%;
    left: 50%;
    margin-left: -4rem;
    transition: all 0.3s;
}





.meBox-title {
    width: auto;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    width: 80%;
    height: 50%;
    overflow: hidden;
    text-align: left;
    color: rgb(70, 70, 70);
    animation-name: meBox-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 5% 0 0 10%;
    transition: all 0.3s;
}



.meBox-title .fg {
    width: 80%;
    height: 2px;
    background-image: linear-gradient(to left, #3498db, #2980b9);
    margin: 5% 0 0 10%;
}

.meBox-text {
    width: 80%;
    height: 45%;
    overflow: hidden;
    text-align: center;
    color: rgb(70, 70, 70);
    animation-name: meBox-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 5% 0 0 10%;
    transition: all 0.3s;
}

.meBox-text p {
    margin-top: 5px;
}



@keyframes meBox-text {
    0% {
        transform: translateY(50px);
        color: white;
    }

    100% {
        transform: translateY(0);
        color: rgb(70, 70, 70);
    }
}

.meBox-Button {
    width: 100%;
    
}

.meBox-Button a {
    display: inline-block;
    margin:0 auto;
    width: 158px;
    height: 50px;
    margin-top: 13px;
    line-height: 50px;
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.meBox-Button a:hover {
    color: rgb(0, 132, 255);
    font-size: 1.2rem;
}





@media screen and (max-width: 1250px) {
    #box {
        width: 100%;
    }

    .meBox {
        margin-left: 3%;
    }

    .meBox:hover {
        width: 21rem;
        height: 26rem;
        margin: 95px 0 0 2.5%;
    }

    #cmdBox {
        margin-right: 3%;
    }
}

@media screen and (max-width: 1120px) {
    .meBox {
        float: none;
        margin: 100px auto 100px;
    }

    .meBox:hover {
        width: 20rem;
        height: 25rem;
        margin: 105px auto 100px;
    }

    .meBox:hover .meBox-Button a {
        width: 158px;
        height: 50px;
        margin-top: 13px;
    }

    .meBox:hover .meBox-title p {
        font-size: 1.2rem;
    }

    .meBox:hover .headPhoto {
        width: 8rem;
        height: 8rem;
        margin: -0.5rem 0 0 -4rem;
        transform: rotate(360deg);
    }


}

@media screen and (max-width: 768px) {
    .meBox {
        width: 300px;
    }

    .meBox:hover {
        width: 300px;
        height: 25rem;
        margin: 100px auto 100px;
    }

    .meBox-Button a:hover {
        color: rgb(0, 132, 255);
    }

    .meBox:hover .meBox-Button a {
        width: 150px;
        margin-top: 13px;
    }

    .meBox:hover .meBox-title p {
        font-size: 1.2rem;
    }

    .meBox:hover .headPhoto {
        width: 8rem;
        height: 8rem;
        margin: -0.5rem 0 0 -4rem;
        transform: rotate(360deg);
    }

    .meBox:hover .meBox-text {
        font-size: 1rem;
    }

    .meBox-Button a {
        width: 150px;
    }


}
