/* @import url("https://fonts.loli.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"); */
*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
p {
	color: #999;
	font-weight: 300;
	margin-top: 20px;
}

/**
 * Hidden fallback
 */
[hidden] {
  display: none;
  visibility: hidden;
}

/**
 * Styling navigation
 */
/* header {
  margin-right: auto;
  margin-left: auto;
  max-width: 22.5rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
} */

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f9;
  
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;

  
}

.last-video  p{
  position: absolute;
  top: 100px;
  right: 550px;
  color: #000;
}

.last-video .video-box{
 
  position: absolute;
  top: 100px;
  right: 250px;
  
}
.recommended-video{
  width: 40%;
  height: 30%;
  /* display: flex;
  flex-wrap: wrap; */
  
  position: absolute;
  top: 40%;
  right: 10%;
  /* overflow: hidden; */
}
.recommended-video p{
  position: absolute;
  /* top: 100px;
  right: 550px; */
  /* top: 300px;
  right: 700px; */
  color: #000;
}
.recommended-video .video-box#box1{
  position: absolute;
  bottom:  0%;
  right: 40%;
 
}
.recommended-video .video-box#box2{
  position: absolute;
  bottom:  0%;
  right: -15%;
}
.recommended-video .video-box#box3{
  position: absolute;
  bottom:  -90%;
  right: 40%;
}
.recommended-video .video-box#box4{
  position: absolute;
  bottom:  -90%;
  right: -15%;
}
.video-box{
  width: 18rem;
  height: 13rem;
  
  text-align: center;
  overflow: hidden;
}

.video-box>.video-box-background{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
  align-items: center;
  bottom: 20px;
  justify-content: center;
  width: 280px;
  min-height: 160px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  /* position: relative; */
}

.video-box>img{
  
  position: relative;
  width: 264px;
  height: 148px;
}
/* .video-box .video-title{
  overflow:scroll
} */
.video-room{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-room .video-box>.video-box-background{
  
  margin-top: 20px; 
   /* margin-left: 20px;
  margin-right: 20px; */
}

.top{
	display: flex;
	justify-content: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top span{
  	line-height: 50px;
    max-height: 50px;
	font-size: 23px;
}


.plan-tile{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20px;
  justify-content: center;
  width: 29rem;
  min-height: 11rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.video-box button{
  width:50px;
  height: 50px;
  position: relative;
  top: 0;
  /*top: 15px; optional, it is so by default and right not needed as applied on parent! :D */
  border:0px;
  outline: 0px;
  border-color:transparent;
  outline-style: 0px;
  border-radius: 50%;
  background: white;
  cursor:pointer;
  z-index: 1; /*to ensure its on top of container*/
  box-shadow:  -2px 2px 5px rgba(41, 10, 77,.5);;

  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;

  transition: all 0.2s ease;
  
   
}

.video-box button:hover{
  box-shadow: none;
  transform: scale(0.9);
}

.video-box button:active{
  background: rgba(191, 165, 223, 0.3);
  outline: none;
  outline-width: 0;
  outline-color: transparent;
}



.video-box button svg{
  width: 40%;
  height: 40%;
  position: relative;
  top: 5%;
  fill: #b43f3f;
  z-index: 5;
  
}

.video-box button.rotate{
  transform: rotate(180deg);
  transition: all 0.3s ease;
}


/* 计划栏*/
